/.vs
/Library
/obj
/Temp
/Flux.CSharp.Editor.csproj
/Flux.v12.suo
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/Flux.CSharp.csproj
/GFrame.sln
/Logs
ProjectSettings/ProjectVersion.txt
BehaviorDesignerRuntime/.vs/BehaviorDesignerRuntime/v16/Server/sqlite3/db.lock
BehaviorDesignerRuntime/.vs/BehaviorDesignerRuntime/v16/Server/sqlite3/storage.ide
BehaviorDesignerRuntime/.vs/BehaviorDesignerRuntime/v16/Server/sqlite3/storage.ide-shm
BehaviorDesignerRuntime/.vs/BehaviorDesignerRuntime/v16/Server/sqlite3/storage.ide-wal
