Client/.vs
Client/obj
Client/Logs
Client/ProjectSettings/ProjectVersion.txt
Client/Library
Client/Temp
Client/Assembly-CSharp.csproj
Client/Assembly-CSharp-Editor.csproj
Client/Client.sln
Client/Assembly-CSharp-firstpass.csproj
Client/Packages/manifest.json
Client/Assets/Resources/VersionStyle.asset
Client/Assets/Resources/VersionStyle.asset.meta
